$icon-font-path: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/fonts/";

$font-size-base: 16px;

$brand-primary: $blue;
$brand-success: $green;
$brand-info: $blue-gray;
$brand-warning: $yellow;
$brand-danger: $red;

$navbar-height: 45px;
$navbar-default-bg: $blue;
$navbar-default-color: #fff;
$navbar-default-brand-color: #fff;
$navbar-default-brand-hover-color: #fff;
$navbar-default-brand-hover-bg: darken($blue, 5%);
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-hover-bg: darken($blue, 5%);

$font-family-sans-serif: $font-family;
$text-color: $font-color;

$input-color: $font-color;

$panel-default-text: $font-color;

$btn-font-weight: 600;
